version: '3'

services:
  web:
    container_name: web
    restart: always
    build: .
    command: bash -c "python insert_data_to_db.py create-tables-in-db && python insert_data_to_db.py insert-data-in-db && python main.py run -h 0.0.0.0"
    networks:
      - my-network
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - .:/app
    depends_on:
      - main_db

  main_db:
    container_name: main_db
    restart: always
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    networks:
      - my-network
    volumes:
      - ./postgres-data/postgres:/var/lib/postgresql/data

volumes:
  postgres-data: {}

networks:
  my-network:
